/* Custom Leaflet Div Icon for Glowing Effect */
.custom-div-icon {
    background: transparent !important;
    border: none !important;
}

.custom-div-icon div {
    display: flex;
    align-items: center;
    justify-content: center;
}